<!DOCTYPE html>
<html>
<head>
  <title>Producer</title>
  <%= stylesheet_link_tag "admin" %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="wrapper">
    <div id="header">
      <div id="main-nav">
        <%= menu do |m| %>
          <%= m.dashboard 'Dashboard', "#" %>
          <%= m.posts 'Posts', admin_posts_path %>
          <%= m.images 'images', admin_images_path %>
          <%= m.inquiries 'Inquiries', "#" %>
        <% end %>
      </div>
    </div>

    <div id="content-wrapper">
      <div id="content">
        <div class="in">
          <%= flash_messages %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

  <%= yield :bottom %>
  <%#= javascript_include_tag :defaults %>
</body>
</html>