<!DOCTYPE html>
<html>
<head>
  <title>Producer</title>
  <%= stylesheet_link_tag "admin" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="wrapper">
    <div id="header">
      <% if user_signed_in? %>
        <div id="main-nav">
          <%= menu do |m| %>
            <%= m.dashboard 'Dashboard', "#" %>
            <%= m.posts 'Posts', admin_posts_path %>
            <%= m.assets 'Assets', admin_images_path %>
            <%= m.inquiries 'Inquiries', admin_inquiries_path %>
            <%= m.users 'Users', admin_users_path %>
          <% end %>
        </div>

        <div id="user-bar">
          <%= link_to "Logout", destroy_user_session_path, :method => "delete" %>
        </div>
      <% end %>
    </div>

    <div id="content-wrapper">
      <div id="content">
        <div class="in">
          <%= flash_messages %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

  <%= yield :bottom %>
</body>
</html>
